jdbc.url=jdbc:mysql://ohdbserver:ohdbport/ohdbname?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
jdbc.username=ohdbuser
jdbc.password=ohdbpassword
spring.main.web-application-type=none
spring.main.banner-mode=off
spring.main.allow-bean-definition-overriding=true